.position-static 
{
	position:static;
}

.position-absolute 
{
	position:absolute;
	top:0;
	right:0;
	width:200px;
}

.position-relative 
{
	position:relative;
	top:40px;
 	left:-40px;
}

.position-relative2 
{
	position:relative;
	width:400px;
}

.position-absolute2 
{
	position:absolute;
	top:0;
	left:0;
	width:200px;
}

.position-relative3 
{
	position:relative;
	width:400px;
	height:200px;
}

.position-float 
{
	float:left;
	width:200px;
}

.position-float2 
{
	float:left;
	width:150px;
}

.clear 
{
	clear:both;
}

@font-face 
{
	font-family: Britannic ;
	src: url("arial.TTF");
}

@font-face 
{
	font-family: Britannic Bold;
	src: url("Britannic Bold.TTF");
}

@font-face 
{
	font-family: Grenoble-Serial-Bold;
	src: url("Grenoble-Serial-Bold.TTF");
}

#menu 
{
	font-family: arial;
	font-size: 15px;
	color: #949084;
	margin-top: 8px;
	margin-left: 5px;
}

a:link
{
	text-decoration:none;
	color: #949084;
}

#fontken
{
	font-family: Grenoble-Serial-Bold;
	font-size: 50px;
	font-weight: bold;
	color: #4f2d7a;
	margin-top: 8px;
	margin-left: 5px;
}

#fontto 
{
	font-family: 'Comic Sans MS';
	font-size: 12.5px;
	color: #b5cfc2;
	margin-top: -23px;
	margin-left: 50px;
}

.fpro,.fper,.fontsel 
{
	font-family: 'Tahoma';
	color: white;
	margin-top: 20px;
	margin-left: -40px;
}

.fproo 
{
	font-weight:600;
	font-size: 18px;
	margin-top:20px;
}

.fper 
{
	font-size: 25px;
	margin-left:175px;
	margin-top:-75px;
	font-weight:600;
	float:inherit;
}

.manage_lang
{
	float: left;
	padding: 3px 5px 2px 4px;
}

#floatl
{
	margin-top :8px;
	float:left;
}

#floatll
{
	float:left;
	margin-left:15px;
	margin-top:10px;
}

#floatr
{
	float:right;
}

.fpro 
{
	font-size: 55px;
	font-weight:600;
	margin-top:-30;	
}

.sfont,.bfont
{
	font-family: 'Tahoma';
	color: white;
	text-align:left;
	margin-left:5px;
}

.bfont
{
	font-size: 14px;
	margin-top:8px;
	font-weight:bold;
}

.sfont
{
	text-align:left;
	font-size: 12px;
}

.bt1
{
	padding-top:8;
    background-color:white;
	height:38px;
    text-align:center;
	float:left;
	margin-top:-8px;
	width:100px;
}

#btl
{
	height:23px;
	margin-left: 58px;
	float:left;
	width:100px;
	border-color:black;	
	border:1.5px solid;
}

#button
{
	margin-bottom:0;
	float:left;
	height:38px;
    width:770px;
	background-color:white;
}

#full 
{
    background-color:white;
	height:600px;
    width:770px;
    text-align:center;
    padding:5px;
}

#header 
{
	height:80px;
    width:795px;
    color:red;
    text-align:center;
}

#h1
{
	height:80px;
    width:412px;
	float:left;
    text-align:center;
}

#h2
{
	height:80px;
    width:373px;
	float:left;
    text-align:center;
}

#bar 
{
	height:7px;
    width:780px;
    text-align:center;
	float:left;
}

#mid 
{
	height:390px;
    width:800px;
}

#l1 
{
    width:342px;   
    text-align:center;
	height:390;
    float:left;   
}

#l11 
{
    width:342px;   
    text-align:center;
	height:226;
    float:left;   
}

#l12 
{
    width:342px;   
    text-align:center;
	height:160;
    float:left;      
}

#l121 
{
    width:111px;    
    text-align:center;
	height:150;
    float:left;
}

#l122 
{
	background-color:ef7a82;
    width:223px;
    text-align:center;
	height:156;
    float:left;
}

#l2 
{
    width:450px;   
    text-align:center;
	height:390;
    float:right;
	margin-right:8px;
}

#footer 
{	
	height:95px;
	width:770px;
    color:white;
    clear:both;
    text-align:center;
}

#f1 
{
	text-align:center;
    float:left;     
	height:87px;
	width:265px;
    background-color:#b59bc0;
    color:white;
    text-align:center;
}

#f2 
{
	float:left;
	height:87px;
	width:500px;
    color:white;
    text-align:center; 
}

#f21
{
	height:87px;
	width:220px;
    background-color:#8dcac3;
    color:white;
    text-align:center;    
 	margin-left:8px;
	float:left;
}

#f22
{
	height:87px;
	width:272px;
    background-color:#8dcac3;
    color:white;
    text-align:center;
	float:left;
}

#box1_1_rl 
{
	width: 108px;
	height: 57px;
	background-color: #d1eaf1;
	float: left;
	margin-left: 9px;
	margin-top: 10px;
	border: 1px solid #9aa3b4;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}

#fontadd 
{
	font-size: 11.5px;
	color: #b8aed1;
	margin-left: 17px;
	margin-top: 7px;
	text-align:left;
}

#fontcall 
{
	font-family: 'Tahoma';
	color:#c9693f ;
	font-size: 14px;
	font-weight:bold;
	float:right;
	margin-top: 7px;
	margin-right:20px;
}

#fontnum 
{
	font-family: 'Tahoma';
	color: #c9693f;
	font-size: 16px;
	font-style:oblique;
	float:right;
	margin-right:22px;
}

#box1_1_rr 
{
	width: 232px;
	height: 57px;
	background-color: #d1eaf1;
	float: left;
	margin-top: 10px; 
	border: 1px solid #9aa3b4;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}